# Исключаем виртуальное окружение и кэш
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
# *.sqlite3

# Исключаем временные файлы редакторов
*.swp
*.swo
*.log

# Исключаем медиа-файлы, если хранятся локально
media/
uploads/
.env
redis
